#cover-img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    min-width: 400px;

}


#wrapper {
    width: 100px;
    margin: 0 auto;
    max-width: 800px;
    min-width: 400px;


}

#wrapper h1 {
    font-size: 24px;
    text-align: center;
}

#wrapper p {
    font-size: 25px;
    line-height: 1.2;
}